<h1>Stories</h1>

<div class="row">
  <div class="span12">
    <p class="pull-right"><%= link_to 'New Story', new_story_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<div id="stories">
  <h2>In Progress</h2>
  <div id="in-progress">
    <%= render 'stories', stories: @in_progress_stories %>
  </div>

  <h2>Backlog</h2>
  <div id="backlog">
    <%= render 'stories', stories: @backlog_stories %>
  </div>

  <h2>Completed</h2>
  <div id="completed">
    <%= render 'stories', stories: @completed_stories %>
  </div>
</div>
